<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>clothinglistuser</title>
</head>
<h2>등록된 의류 전체 조회</h2>
<table>
    <tr>
        <th>clothing id</th>
        <th>clothing Name</th>
        <th>clothing Size</th>
        <th>clothing Condition</th>
        <th>user id</th>
    </tr>
    <tr th:each="clothing: ${clothingList}">
        <td th:text="${clothing.clothingId}"></td>
        <td th:text="${clothing.clothingName}"></td>
        <td th:text="${clothing.clothingSize}"></td>
        <td th:text="${clothing.clothingCondition}"></td>
        <td th:text="${clothing.id}"></td>
        <td>
            <a th:href="@{|/order/save|}">대여하기</a>
        </td>
    </tr>
</table>
<button onclick="userpage()">돌아가기</button><br>
</body>
<script>
    const userpage = () =>{
    location.href = "/member/customer";
    }
</script>
</html>