<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<form action ="/member/save" method="post">
  이메일: <input type="text" name="userEmail"> <br>
  비밀번호: <input type="password" name="userQwd"> <br>
  이름: <input type="text" name="userName"> <br>
  휴대폰번호: <input type="text" name="userPhoneNumber"> <br>
  성별: <input type="text" name="userSex"> <br>
  사이즈: <input type="text" name="userSize"> <br>
  주소: <input type="text" name="userAddr"><br>
  권한: <input type="text" name="userAuthority"><br>
  생일: <input type="text" name="userBirth"><br>

  <input type="submit" value="회원가입">
</form>
</body>
</html>